@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #f2746b;
  --color-primary-dark: #e85d5a;
  --color-secondary: #f4b36f;

  /* Background */
  --color-background: #fff8f5;
  --color-surface: #ffffff;
  --color-surface-soft: #fffdfc;

  /* Text */
  --color-text: #292524;
  --color-text-secondary: #78716c;
  --color-text-muted: #a8a29e;

  /* Border */
  --color-border: #f1e4df;

  /* Status */
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
}
@layer base {
  button:not(:disabled) {
    cursor: pointer;
  }
}